@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, .bg {
  @apply bg-indigo-50 dark:bg-zinc-900 transition-colors duration-300 ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
  }
}

.bg-surface {
  @apply bg-[#FCF8FF] dark:bg-[#141318] transition-colors duration-300 ease-in-out;
}

.bg-container {
  @apply bg-[#fff] shadow-md dark:bg-[#201F25] transition-colors duration-300 ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .bg-surface {
    color-scheme: dark;
  }
}

.bg-sidebar {
  @apply bg-white dark:bg-zinc-800 transition-colors duration-300 ease-in-out;
}

.btn {
  @apply flex items-center gap-2 px-4 sm:px-3 py-1.5 text-sm sm:text-xs rounded-full bg-black text-white dark:bg-white dark:text-neutral-900 hover:bg-zinc-700 dark:hover:bg-neutral-200 transition-colors;
}

.icon-btn {
  @apply h-8 w-8 rounded-lg hover:bg-zinc-200 dark:hover:bg-zinc-800/80 grid place-content-center  text-zinc-700 dark:text-zinc-200;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
  .dark .custom-scrollbar {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

:root {
  --background: #62abff;
  --icon-color: #414856;
  --shape-color-01: #e3b8ee;
  --shape-color-02: #7691e8;
  --shape-color-03: #fdd053;
  --md-sys-color-primary: #685496;
  --md-sys-color-on-primary: #ffffff;
}

.font-comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 700;
  font-style: normal;
}
